APP_NAME=wordpress-bedrock-frankenphp
WP_ENV=development

WP_HOME=http://localhost
WP_SITEURL=http://localhost/wp

DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_HOST=mysql
DB_PREFIX=wp_

REDIS_HOST=redis
REDIS_PORT=6379

MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=change-me

IMAGE_TAG=latest
